.header{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding: 10px;
  border-bottom: 1px solid #80808021;
  background-color: #80808021;
}
.reactflow{
  border-right: 1px solid #80808021;
  border-bottom: 1px solid #80808021;
}